<div class="page-header">
	<h3>Lista de Canais de Fiscalização</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			
			<th>Codigo</th>
			
			<th>Descricao</th>
						
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @core_fiscalizacao_canais) do |core_fiscalizacao_canal| %>
		
		<td><%= core_fiscalizacao_canal.codigo %></td>
		
		<td><%= core_fiscalizacao_canal.descricao %></td>
		
		<td><%= link_to 'Mostrar', core_fiscalizacao_canal, :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_fiscalizacao_canal_path(core_fiscalizacao_canal), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_fiscalizacao_canal, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo Canal de Fiscalizacao', new_core_fiscalizacao_canal_path, :class=>"btn btn-success" %>

