<div class="page-header">
	<h3>Lista de Grupos</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Sigla</th>
			<th>Transportadora</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @grupos) do |grupo| %>
		<td><%= grupo.nome %></td>
		<td><%= grupo.sigla %></td>
		<% if grupo.transportadora_id != nil %>
			<td><%= grupo.transportadora.nomefantasia %></td>
		<% else %>
			<td></td>
		<% end %>
		<td><%= link_to 'Mostrar', core_grupo_path(grupo), :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_grupo_path(grupo), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_grupo_path(grupo), :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>

		<td><%= link_to 'Usuarios', core_grupo_usuario_grupos_path(grupo), :class=>"btn btn-success" %></td>
		<td><%= link_to 'Sistemas', core_grupo_grupo_sistemas_path(grupo), :class=>"btn btn-success" %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo Grupo', new_core_grupo_path, :class=>"btn btn-success" %>
