<div class="page-header">
	<h3>Exibindo core_nota</h3>
</div>


<p>
	<strong>Codigo:</strong>
	<%= @core_nota.codigo %>
</p>


<p>
	<strong>Cnpj origem:</strong>
	<%= @core_nota.cnpj_origem %>
</p>


<p>
	<strong>Cnpj destino:</strong>
	<%= @core_nota.cnpj_destino %>
</p>


<p>
	<strong>Cpf destino:</strong>
	<%= @core_nota.cpf_destino %>
</p>


<p>
	<strong>Uf origem:</strong>
	<%= @core_nota.uf_origem %>
</p>


<p>
	<strong>Uf destino:</strong>
	<%= @core_nota.uf_destino %>
</p>


<p>
	<strong>Data emissao:</strong>
	<%= @core_nota.data_emissao %>
</p>


<p>
	<strong>Data entrada:</strong>
	<%= @core_nota.data_entrada %>
</p>


<p>
	<strong>Valor produtos:</strong>
	<%= @core_nota.valor_produtos %>
</p>


<p>
	<strong>Valor total:</strong>
	<%= @core_nota.valor_total %>
</p>


<p>
	<strong>Numero pin suframa:</strong>
	<%= @core_nota.numero_pin_suframa %>
</p>


<p>
	<strong>Valor st:</strong>
	<%= @core_nota.valor_st %>
</p>


<p>
	<strong>Valor icms:</strong>
	<%= @core_nota.valor_icms %>
</p>


<p>
	<strong>Valor bc st:</strong>
	<%= @core_nota.valor_bc_st %>
</p>


<p>
	<strong>Valor icms:</strong>
	<%= @core_nota.valor_icms %>
</p>


<p>
	<strong>Valor bc st:</strong>
	<%= @core_nota.valor_bc_st %>
</p>


<p>
	<strong>Valor bc icms:</strong>
	<%= @core_nota.valor_bc_icms %>
</p>


<p>
	<strong>Numero nota:</strong>
	<%= @core_nota.numero_nota %>
</p>


<p>
	<strong>Qtd itens nfe:</strong>
	<%= @core_nota.qtd_itens_nfe %>
</p>


<p>
	<strong>Usuario:</strong>
	<%= @core_nota.usuario_id %>
</p>



<%= link_to 'Editar', edit_core_nota_path(@core_nota) %> |
<%= link_to 'Voltar', core_notas_path %>

