<div class="page-header">
	<h3>Lista de core_nota_retidas</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			
			<th>Nota</th>
			
			<th>Fiscalizacao regra</th>
			
			<th>Datahora fiscalizacao</th>
			
			<th>Valor principal</th>
			
			<th>Valor multa</th>
			
			<th>Valor correcao monetaria</th>
			
			<th>Valor juros</th>
			
			<th>Valor total</th>
			
			<th>Data entrada</th>
			
			<th>Data vencimento</th>
			
			<th>Data pagamento</th>
			
			<th>Data inclusao</th>
			
			<th>Usuario</th>
			
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @core_nota_retidas) do |core_nota_retida| %>
		
		<td><%= core_nota_retida.nota_id %></td>
		
		<td><%= core_nota_retida.fiscalizacao_regra_id %></td>
		
		<td><%= core_nota_retida.datahora_fiscalizacao %></td>
		
		<td><%= core_nota_retida.valor_principal %></td>
		
		<td><%= core_nota_retida.valor_multa %></td>
		
		<td><%= core_nota_retida.valor_correcao_monetaria %></td>
		
		<td><%= core_nota_retida.valor_juros %></td>
		
		<td><%= core_nota_retida.valor_total %></td>
		
		<td><%= core_nota_retida.data_entrada %></td>
		
		<td><%= core_nota_retida.data_vencimento %></td>
		
		<td><%= core_nota_retida.data_pagamento %></td>
		
		<td><%= core_nota_retida.data_inclusao %></td>
		
		<td><%= core_nota_retida.usuario_id %></td>
		
		<td><%= link_to 'Mostrar', core_nota_retida, :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_nota_retida_path(core_nota_retida), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_nota_retida, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo(a) Nota retida', new_core_nota_retida_path, :class=>"btn btn-success" %>

