<div class="page-header">
	<h3><%= link_to 'Voltar', transportadora_grupo_grupo_sistemas_path(@grupo) %> | Novo Sistema para o Grupo <%= @grupo.nome %></h3>
</div>

<%= form_for(@grupo_sistema, :url => transportadora_grupo_grupo_sistemas_path(@grupo)) do |f| %>

<% if @grupo_sistema.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@grupo_sistema.errors.count, "erro") %> ao tentar salvar este formulario:</strong>
	<ul>
		<% @grupo_sistema.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Adicionar</th>
			<th>Sistema</th>
			<th>Modulo</th>

		</tr>
	</thead>

	<tbody>

		<% @sf.each do |sistema| %>
		<tr>

			<td><%= check_box_tag "sistemas[]", sistema.id %></td>
			<td><%= sistema.nome %></td>
			<td><%= sistema.modulo.nome %></td>

		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= f.submit "Adicionar Selecionados", :class=>"btn btn-primary" %>
	<button type="reset" class="btn">
		Cancelar
	</button>
</div>

<% end %>
