<div class="page-header">
	<h3>Estoque</h3>
</div>
<% if @notas != nil %>

		<%= form_tag(@notas_path, :method => 'get') do %>

			<%= select_tag :situacao, options_for_select(["", "Retida", "Liberada", "Finalizada"]), :value=>params[:situacao], :class=>"input-medium" %>
			<%= text_field_tag :numero, params[:numero], :placeholder=>"Num NF", :class=>"input-mini" %>
			<%= text_field_tag :emissor, params[:emissor], :placeholder=>"Emissor", :class=>"input-medium" %>
			<%= text_field_tag :destinatario, params[:destinatario], :placeholder=>"Destinatario", :class=>"input-medium" %>
			<%= submit_tag "Localizar", :name => nil, :class=>"btn-large btn-primary" %>

		<% end %>

		<div class="pagination pagination-centered">
			<%= will_paginate @notas, :previous_label => '<< ', :next_label => ' >>' %>
		</div>

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>

					<th>Numero NF</th>

					<th>Emissor</th>

					<th>UF Emissor</th>

					<th>Destinatario</th>

					<th>Valor Total</th>

					<th>DT Emissão</th>

					<th>Situação</th>


				</tr>
			</thead>

			<tbody>
				<%= content_tag_for(:tr, @notas) do |nota| %>

					<td><%= nota.numero_nota %></td>

					<td><%= nota.cnpj_origem %></td>

					<td><%= nota.uf_origem %></td>

					<% if nota.cnpj_destino != nil %>
						<td><%= nota.cnpj_destino %></td>
					<% else %>
						<td><%= nota.cpf_destino %></td>
					<% end %>

					<td><%= nota.valor_total.real_contabil %></td>

					<td><%= nota.data_emissao.to_s_br %></td>

					<% if nota.situacao == 'Retida' %>
						<td>
							<% nota.nota_retidas.each do |retida| %>
								<% if retida.fiscalizacao_regra.fiscalizacao_canal.codigo == 'VERMELHO'  %>
									<%= link_to 'Termo de Retencao', transportadora_estoque_path(nota.id), :class=>"btn btn-danger btn-small" %>
								<% end %>
								<% if retida.fiscalizacao_regra.fiscalizacao_canal.codigo == 'CINZA'  %>
									<%= link_to 'Depois ir p/ cod. CINZA', transportadora_estoque_path(nota.id), :class=>"btn btn-inverse btn-small" %>
								<% end %>
							<% end %>
							
						</td>
					<% end %>
					<% if nota.situacao == 'Liberada' %>
						<td> <%= link_to 'L', transportadora_estoque_path(nota.id), :class=>"btn btn-success btn-small" %>
							 <%= link_to 'Emitir Passe', edit_transportadora_estoque_path(nota), :class=>"btn btn-default btn-small" %>
</td>
					<% end %>
					<% if nota.situacao == 'Finalizada' %>
						<td>  <%= link_to 'Re-Emitir Passe', edit_transportadora_estoque_path(nota.id), :class=>"btn btn-default btn-small" %>
</td>
					<% end %>

					</p>

				<% end %>
			</tbody>
		</table>

		<div class="pagination pagination-centered">
			<%= will_paginate @notas, :previous_label => '<<', :next_label => '>>' %>
		</div>


<% else %>
	Sem Notas
<% end %>
