<div class="page-header">
	<h3><%= link_to 'Voltar', transportadora_grupos_path %> | Exibindo Grupo <%= @grupo.nome %></h3>
</div>

<p>
  <b>Nome:</b>
  <%= @grupo.nome %>
</p>

<p>
  <b>Sigla:</b>
  <%= @grupo.sigla %>
</p>

<p>
  <b>Igreja:</b>
  <%= @grupo.transportadora.nome %>
</p>

<%= link_to 'Editar', edit_transportadora_grupo_path(@grupo) %> |
<%= link_to 'Voltar', transportadora_grupos_path %>
